/* Add your global styles if any */

.container-fluid {
    margin: 20px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .find-menu {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .find-menu h3 {
    font-size: 1.5em;
  }
  
  .input.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
  }
  
  .input.menu label {
    margin-bottom: 5px;
  }
  
  .input.menu input,
  .input.menu button {
    margin-top: 5px;
    padding: 5px;
  }
  
  .btn-find {
    background-color: white;
    color: black;
    border: solid;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .line{
    width: 500px;
    margin-top: 75px;
    margin-bottom: -100px;
    color: black;
  }

  button{
    background-color: white;
    box-shadow: none;
    border-style: solid;
    border-radius: 5px;
    width:65px;
    cursor: pointer;
  }


.noBorder{
  border: none;
  border-style: none;
  border-color: transparent;
}
  
input{
margin-bottom: 6px;
}

.bookingsV2 {
  margin-top: 110px;
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  color: black;
  text-decoration: none;
}

.bookingsV2 h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.bookingsV2 ul {
  list-style: none;
  padding: 0;
}

.bookingsV2 li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.9) 0px -3px 5px;
}

.test{
  justify-content: center;
  align-items: center;
}

.test2{
display:flex;
  justify-content: center;
  align-items: center;
}

.booking-container-pagination{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 100px;
  margin-top: 40px;
  margin-left: -20px;
  margin-top:-20px;
}

.space{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}