.contain-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;
}

.navBar-menu {
    margin-top: 30px;
    margin-bottom: -30px;
    
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border-style: none;
    width: 530px;
    font-size: 25px;
    color:#7678ed;
}

.nav-menu {
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 19px;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.9) 0px -3px 5px;
   
}


.nav-menu:hover {
    background-color: #90e0ef;
    color: #03045e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.9) 0px -3px 5px;
}
