.contain-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-menu {
    margin-top: 30px;
    margin-bottom: -30px;
    background-color: #BEBEBE;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border-style: solid;
    width: 530px;
    font-size: 25px;
}

.nav-menu {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding: 19px;
    margin: 2px;
}


.nav-menu:hover {
    background-color: white;
}
