
div {
    padding: 10px;
  }
 
  .navBar-menu {
    background-color: #343a40; 
    display: flex;
    justify-content: space-around;
  }

  .nav-menu {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  

  .nav-menu:hover {
    background-color: #555; 
  }
  