.title {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
padding: 3rem;
}

.contain {
  margin-top: 50px;
  padding: 3rem;
}

.input {
  border-radius: 65px;
  border-width: 1.5px;
  padding: 2px;
  margin: 1rem;
}

.test-form {
  background-image: url("../assets/testBack8.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  font-size: 23px;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    #48cae4 0px -12px 30px,
    #03045e 0px 4px 6px,
    #48cae4 0px 12px 13px,
    #03045e 0px -3px 5px;
color:white; 
}


@media only screen and (max-width: 767px) {
  .title {
    font-size: medium;
  }

  .contain {
    margin-top: 30px;
  }

  input {
    width: 100%;
  }
}