.heading{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -65px;
}

.eventName{
    margin-left: 10px;
}

.capacity{
    margin-right: 40px;
}

.floor{
    margin-right: 40px;
}

.lineV2{
    width: 500px;
}

.title-variation{
    margin-top: -5px;
}

.alternate{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: larger;
}

@media only screen and (max-width: 767px) {
    .heading {
      flex-direction: column; 
      text-align: center; 
      margin-top: 0; 
    }
  
    .eventName,
    .capacity,
    .floor {
      margin: 0;
    }
  
    .lineV2 {
      width: 100%; 
    }
  
    .title-variation {
      margin-top: 0; 
    }
  }